* {
    margin: 0;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    position: relative;
}

a {
    color: inherit;
}

.btn {
    cursor: pointer;
}

.center {
    text-align: -webkit-center;
}

.title {
    text-transform: uppercase;
}

.w-full {
    width: 100%;
}

.red {
    color: #C31328;
}

/*Navbar*/
header {
    min-height: 130px;
    padding: 45px 0 20px 17px;
    border-bottom: 1px solid #756969;
    box-sizing: border-box;
    white-space: nowrap;

    img {
        width: 120px;
        height: auto;
    }
}

/*Footer*/
footer {
    img {
        width: 100%;
        height: auto;
    }
}

.menu {
    display: inline-block;
    margin: 20px 0 0 130px;
    box-sizing: border-box;
    vertical-align: top;
    text-transform: uppercase;
    white-space: break-spaces;
}

.menu-item {
    font-family: 'HelveticaNeue', sans-serif;
    font-size: 20px;
    color: black;
    display: inline-block;
    margin: 0 20px 20px 0;
    padding: 0 10px 8px 10px;
}

.menu-item:hover,
.active-link {
    border-bottom: 1px solid #C31328;
    cursor: pointer;
    color: red;
}

/*Home*/
.home-container {
    display: flex;
    flex-direction: column;
    padding: 120px;
    text-align: center;
    width: 100%;
    box-sizing: border-box;

    img {
        width: 50%;
        display: inline-block;
        vertical-align: middle;
    }

    div:first-child {
        >div:nth-child(2) {
            box-sizing: border-box;
            padding: 0 40px;
            width: 50%;
            display: inline-block;
            vertical-align: middle;
        }
    }
}

.el-carousel__container img {
    height: 300px;
    width: auto;
    border-radius: 20px;
}

.el-carousel__item {
    border: 2px solid gray;
    background-color: white;
    border-radius: 20px;
    padding: 20px;
    font-size: 38px;
    font-weight: 800;
}

.home-container-sportif-cat {
    font-size: 24px;
    font-weight: 600;
}

.home-container-banner-title {
    font-size: 48px;
    font-weight: 800;
}

.home-container-banner-sub-title {
    font-size: 36px;
    font-weight: 800;
    text-transform: uppercase;
    line-height: 93%;
    margin: 15px 0 20px 0;
}

.home-container-banner-date {
    font-size: 48px;
    font-weight: 280;
    letter-spacing: 1.6px;
    line-height: 90.9%;
}

.home-container-banner-text {
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    line-height: 120%;
    font-weight: 500;
    margin: 50px 0;
}

.home-btn-black-white {
    background-color: #021E34;
    color: white;
    border: none;
    width: 390px;
    height: 87px;
    font-size: 28px;
    font-weight: 500;
    line-height: 120%;
}

.home-container-sportifs-title {
    font-size: 58px;
    text-align: right;
    line-height: 187.5%;
    font-weight: 600;
    margin: 30px 0;
}

.home-slogan {
    font-size: 36px;
    font-weight: 600;
    margin: 330px 0;
}

.home-twitch-container {
    width: 80vw;
    border-radius: 20px;
    background-color: #021E34;
    height: 35vh;
    box-sizing: border-box;
    align-self: center;
}

.home-twitch-container-bgtxt {
    font-family: 'Inter', sans-serif;
    font-size: 13vw;
    font-weight: 1000;
    position: absolute;
    bottom: -45px;
    color: rgba(255, 255, 255, 0.1);
}

.home-twitch-container-details-left {
    width: 50%;
    text-align: center;
    display: inline-block;
    height: 100%;

    img {
        position: absolute;
        bottom: 0;
        height: 200%;
        width: auto;
        left: 30%;
    }
}

.home-twitch-container-details-right {
    height: 100%;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    width: 50%;
    color: white;
    padding: 50px 80px;
    height: 100%;
    box-sizing: border-box;
    align-content: center;
    display: inline-block;
    vertical-align: top;
}

.home-twitch-container-txt {
    text-align: left;
}

.home-btn-white-red {
    text-align: center;
    border: none;
    background-color: white;
    color: #C31328;
    font-family: 'Inter', sans-serif;
    font-size: 25px;
    font-weight: 800;
    padding: 10px 30px;
    margin-top: 50px;
}

/*About*/
.about-container {
    padding: 120px 80px;
    text-align: center;
    box-sizing: border-box;
}

.about-container-title {
    font-size: 103px;
    position: absolute;
    transform: rotate(-90deg);
    font-weight: 1000;
    white-space: nowrap;
    left: -290px;
    top: 470px;
    color: #1B3b84;
}

.about-container-details {
    text-align: left;
    margin: 0 0 0 150px;
}

.about-container-subtitle {
    font-size: 58px;
    font-weight: 800;
    line-height: 90.9%;
    margin: 0 0 50px 0;
}

.about-container-txt-1 {
    font-size: 20px;
    margin-bottom: 50px;
}

.about-container-vision {
    display: flex;
    justify-content: space-between;
}

.about-container-vision-card {
    border-radius: 15px;
    width: 300px;
    height: 300px;
    background-color: #1c140f;
    color: white;
    text-align: center;
    font-size: 15px;
    align-content: center;
    font-weight: 600;
}

.about-container-txt-2 {
    font-size: 24px;
    margin: 50px 0;
    font-weight: 600;
}

.about-container-txt-3 {
    font-size: 20px;
}

/*Exposition*/
.expo-container {
    padding: 120px;
    text-align: center;
    box-sizing: border-box;
}

.expo-container-title {
    font-size: 90px;
    font-weight: 700;
    line-height: 112%;
}

.expo-container-txt {
    margin: 50px 0;
    font-size: 20px;
    line-height: 187.5%;
    text-align: left;
}

.expo-container-row-img {
    display: inline-block;
    margin: 20px;
    transition: transform 0.2s ease-in-out;
}

.expo-container-row-img:hover {
    transform: scale(1.1);
}

.expo-btn {
    border: none;
    background-color: #C31328;
    color: white;
    font-size: 28px;
    font-weight: 400;
    padding: 15px 60px;
    margin: 30px;
}

.expo-container-subtitle {
    text-align: left;
    font-size: 58px;
    font-weight: 800;
    margin: 10px 0;
}

.expo-container-map-card {
    border: 1px solid black;
    width: 100%;
    height: 50vh;
}

/*Events*/

.events-container-title {
    margin: 120px 0 60px 0;
    font-size: 58px;
    font-weight: 800;
    text-align: center;
}

.container {
    box-sizing: border-box;
}

.events-container-banner {
    img {
        width: 100%;
        height: auto;
    }
}

.events-container-txt {
    padding: 120px 100px;
    font-size: 36px;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    box-sizing: border-box;
}

.events-container-types {
    text-align: center;
    font-size: 20px;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    display: flex;
    justify-content: center;
    place-items: center;
    white-space: nowrap;
}

.events-point-red {
    width: 20px;
    height: 20px;
    border-radius: 20px;
    background-color: #C31328;
    display: inline-block;
}

.events-point-blue {
    width: 20px;
    height: 20px;
    border-radius: 20px;
    background-color: #1B3b84;
    display: inline-block;
}

.events-container-type {
    display: inline-block;
    margin-left: 5px;
}

.el-calendar {
    padding: 50px;
    max-width: 1000px;
    border: 1px solid black;
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-size: 45px;
    margin-bottom: 50px;
}

.el-calendar__title {
    font-size: 50px;
}

.el-calendar-table thead th {
    font-size: 30px;
}

.calendar-day-events {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 0;
    top: 13px;
}

.events-container-cards {
    text-align: -webkit-center;
}

.events-container-card {
    width: 300px;
    height: 550px;
    box-sizing: border-box;
    border-radius: 15px;
    box-shadow: 5px 2px 10px gray;

    img {
        border-radius: 15px 15px 0 0;
        width: 100%;
    }

    display: inline-block;
    margin: 50px 30px;
    text-align: left;
}

.events-container-card-details {
    padding: 10px 15px;
    height: 100%;
    overflow-y: auto;
}

.events-container-card-details-title {
    font-family: "Red Hat Display", sans-serif;
    font-size: 19px;
    font-weight: 800;
}

.events-container-card-details-txt {
    font-family: "Red Hat Display", sans-serif;
    font-size: 14px;
    margin-top: 10px;
}

.events-container-btn-twitch {
    color: white;
    background-color: rgb(95, 0, 95);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    margin-top: 20px;
    float: right;
}

/*Booking*/
.booking-container {
    padding: 120px 160px;
    text-align: -webkit-center;
}

.booking-container-title {
    font-size: 58px;
    font-weight: 700;
    max-width: 1163px;
    text-align: left;
}

.booking-container-form {
    max-width: 1163px;
    text-align: left;
}

.booking-container-ticket {
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px 15px;
    font-size: 30px;
    font-weight: 600;
    text-align: right;
    margin: 20px 0;
}

.booking-container-select-events,
.booking-container-info-participant {
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px 15px;
    margin: 20px 0;
}

.booking-container-subtitle {
    font-size: 30px;
    font-weight: 600;
    text-align: left;
}

.booking-container-txt {
    font-family: 'Noto Sans', sans-serif;
    font-size: 20px;
    line-height: 24px;
    margin: 5px 0 20px 0;
    text-align: left;
}

.booking-container-form-events {
    border: 1px solid gray;
    padding: 20px;
    border-radius: 16px;
    background-color: rgb(238, 238, 238);
    margin-bottom: 10px;
}

.booking-btn {
    background-color: #C31328;
    color: white;
    border: none;
    font-family: 'Noto Sans', sans-serif;
    font-size: 16px;
    border-radius: 8px;
    padding: 20px 60px;
    float: right;
}